﻿@model CarTuningForum.DTOs.PostDTO
<h1>@Model.Title</h1>
<div>
    Author: @Model.Author.UserName
    Created: @Model.CreatedOn
</div>

<div>
    @Model.Content
</div>

@if (Model.Comments.Any())
{
    foreach (var com in Model.Comments)
    {
        <div>

            <div>
                Comment Author: @com.Author.FirstName @com.Author.LastName
                Comment Created: @com.CreatedOn
            </div>

            <div>
                Comment: @com.Message
            </div>
            
        </div>
    }
}