﻿@model CarTuningForum.DTOs.IndexList.PostIndex

<div>

    <h1>Posts</h1>
    @if (Model.PostList.Any())
    {
        <table class="table table-hover" id="postIndexTable">
            <tbody>
                @foreach (var post in Model.PostList)
                {
                    <tr>
                        <td>
                            <a asp-controller="Post" asp-action="Topic" asp-route-id="@post.Id">
                                @post.Title

                            </a>
                        </td>
                        <td>
                                <a asp-controller="User" asp-action="User" asp-route-id="@User.Identity">
                                    @post.Author

                                </a>
                            </td>
                        <td>
                            @post.Content
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    }
    else
    {
        <div class="noPosts">
        <h3>It looks like there are no posts yet.</h3><br />
            Why not
            <a asp-controller="Post" asp-action="Create">
                <span>create</span>
            </a>
            one?
        </div>

    }
</div>