﻿@model CarTuningForum.DTOs.IndexList.PostIndex
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-2">Welcome</h4>
    <img src="~/images/ecuTuningBanner.jpg" />
    <h4 class="display-4">10 Most Recent Posts</h4>
   

</div>
